.asteroid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  &__date {
    grid-column: 1/-1;
    font-size: clamp(20px, 2vw, 24px);
  }

  &__distance {
    display: flex;
    flex-direction: column;

    p {
      font-size: clamp(15px, 2vw, 20px);
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    .name {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      font-size: clamp(13px, 2vw, 16px);
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
    .diameter {
      text-decoration: none;
      font-size: clamp(13px, 2vw, 15px);
    }

    p {
      text-decoration: underline;
    }
  }

  &__button_and_warning {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;

    button {
      width: 50%;
      text-transform: uppercase;
      background-color: rgba(248, 102, 0, 0.15);
      color: white;
      font-size: clamp(13px, 2vw, 15px);
      font-weight: bold;
      border-radius: 16px;
      border: none;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: rgba(248, 102, 0, 1);
      }
    }

    p {
      width: 50%;
    }
  }

  @media (max-width: 500px) {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0 16px;
  }
}

.warning {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: clamp(13px, 2vw, 15px);
}
