@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

.header {
  height: fit-content;
  width: fit-content;
  padding: 16px;
  min-width: fit-content;
  color: white;

  h1 {
    font-family: "Passion one";
    font-size: 32px;
    line-height: 35px;
    color: rgba(248, 102, 0, 1);
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 1000px) {
    height: 20%;
    padding: 0 16px;
  }
}
